nav {
  height: 100px;
  background: #f1f1f1;
}
nav .container-fluid {
  padding: 0 0;
  margin: 0 0;
}
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0 0 0 10%;
  margin: 0 20px 0 0;
  font-size: 20px;
}
.navbar-brand img {
  height: 60px;
  margin: 0 20px 0 0;
  width: auto;
}
.navbar-nav {
  padding: 0 10% !important;
}
.navbar-nav li a {
  font-size: 16px;
}
.header-cta {
  padding: 0 10% 0 0;
}
@media screen and (max-width: 991.98px) {
  .header-cta {
    display: none;
  }
  .navbar-toggler {
    margin: 0 10% 0 0;
  }
  .navbar-collapse {
    background: #f1f1f1;
    margin-top: 22px;
  }
}
